.h_logo {
    padding: 45px 0;
    text-align: center;
    margin: 5px 0 0 200px;

    a {
        text-decoration: none;
        color: black;
    }
}

.h_items {
    padding: 13px 0;
    margin-top: 5px;
    display: flex;

    a {
        text-decoration: none;
    }

    .menu_search {
        padding: 23px 0;

        form {
            position: relative;
            display: flex;
            align-items: center;
            width: 320px;
        }

        input {
            flex: 1;
            padding: 18px 18px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
            outline: none;
        }

        button {
            position: absolute;
            width: 60px;
            height: 100%;
            background: transparent;
            border: 0;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;

            &:hover {
                background-color: #0056b3;
            }

            svg {
                font-size: 25px;
                color: black;
            }
        }
    }

    .menu_hotline {
        margin-left: 30px;
        font-size: 19px;
        display: flex;
        align-items: center;

        .icon {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
        }

        .content {
            margin-left: 7px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .spanChild {
                position: absolute;
                height: 18px;
                width: 18px;
                border-radius: 50%;
                background-color: rgb(212, 212, 207);
                display: inline-block;
                text-align: center;
                font-size: 13px;
                color: black;
            }
        }

        a {
            display: block;
            color: white;

            &:hover {
                color: #b30000;
            }
        }

        svg {
            font-size: 25px;
        }
    }

}

.h_account {
    margin-left: 10px;
    display: flex;
    padding: 33px 0;

    ul {
        li {
            list-style: none;

            span {
                color: rgb(255, 255, 255);
                font-size: 18px;
                display: inline-block;
                margin: 5px 0 0 0;
            }
        }
    }

    .menu_items {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: inherit;
        position: relative;
        text-align: center;
        background-color: rgb(46, 46, 46);
        padding: 12px 12px;
        border-radius: 10px;
    }

    .menu_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
    }

    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 5px 0;
        min-width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;

        li {
            padding: 10px;
            text-align: left;

            span {
                text-decoration: none;
                color: #000000;
                font-size: 18px;

                &:hover {
                    color: #007bff;
                }
            }

            svg {
                margin-top: 5px;
            }
        }
    }

    &:hover .submenu {
        display: block;
    }
}

.h_menu {
    position: relative;
    padding: 15px 0;
    background: #ffffff;
    border-bottom: 1px solid #e9e9e9;

    ul {
        padding: 0 260px;
        display: flex;
        justify-content: space-between;
    }

    .menu_itemss {
        display: inline-block;
        margin: 0 15px;
        position: relative;

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 20px;

            &:hover {
                color: #007bff;
            }
        }

        &.has-children {
            &:hover .header_menu_dropdown {
                display: block;
            }
        }
    }

    .menu_itemss.has-children {
        position: relative;
    }

    .dropdown_columns {
        display: flex;
        gap: 10px;
    }

    .dropdown_column {
        min-width: 300px;
    }

    .dropdown_column h4 {
        margin: 0 0 10px;
        font-size: 27px;
        font-weight: 700;
        color: #007bff;
    }

    .sub_dropdown_list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 10px;

        li {
            a {
                font-size: 20px;
            }
        }
    }

    /* Dropdown */
    .header_menu_dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        padding: 30px;
        flex-direction: row;
    }

    .menu_itemss.has-children:hover .header_menu_dropdown,
    .header_menu_dropdown:hover {
        display: block;
    }
}