@use "sass:map";
@import "theme";
@import "responsive";

html,
body{
    margin: 0;
    height: 100%;
}

*{
    // font-family: Roboto;
    padding: 0;
    margin: 0;
}

.container{
    // max-width: 1170px;
    // width: 100%;
    // padding-left: 15px;
    // padding-right: 15px;
    // padding-top: 25px;
    // padding-bottom: 25px;
    margin: auto;
    // background: green;
    // border: 1px solid #080808;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

@include Responsive($DESKTOP){
    .col-xl-3{
        flex: 0 0 20%;
        max-width: 20%;
        background: #afafaf;
    }

    .col-xl-6{
        flex: 0 0 60%;
        max-width: 60%;
        background: #afafaf;
    }
}

@include Responsive($MEDIUM_DEVICE){
    .col-lg-3{
        flex: 0 0 20%;
        max-width: 20%;
        background: red;
    }

    .col-lg-6{
        flex: 0 0 60%;
        max-width: 60%;
        background: red;
    }
}