@use "sass:map";
@import "theme";
@import "responsive";

html,
body {
    margin: 0;
    height: 100%;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0;
    margin: 0;
}

.container {
    // max-width: 1170px;
    background: #c9c7c7;

    width: 100%;
    // padding-left: 15px;
    // padding-right: 15px;
    // padding-top: 25px;
    // padding-bottom: 25px;
    margin: auto;
    // background: green;
    // border: 1px solid #080808;
}

.h_top {
    display: flex;
    flex-wrap: wrap;
}

@include Responsive($DESKTOP) {
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
        background: #afafaf;
    }

    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
        background: #afafaf;
    }
}

@include Responsive($MEDIUM_DEVICE) {
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
        background: red;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
        background: red;
    }
}